
<nav class="nav">
  <div class="container">
    <!--<h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>-->
    <a class="post-link" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">About</a>


    <ul class="navbar">
      <!-- <li><a href="{{ '/education' | prepend: site.baseurl | prepend: site.url }}">Education</a></li> -->
      <li><a href="{{ '/INFO1110_22S2' | prepend: site.baseurl | prepend: site.url }}">INFO1110</a></li> 
      <li><a href="{{ '/ENGG1810_22S2' | prepend: site.baseurl | prepend: site.url }}">ENGG1810</a></li> 
      <li><a href="{{ '/past' | prepend: site.baseurl | prepend: site.url }}">Past Courses</a></li>  
      <!--<li><a href="{{ '/journal' | prepend: site.baseurl | prepend: site.url }}">Journal</a></li>>-->
      <!-- <li><a class="post-link" href="{{ '/articles' | prepend: site.baseurl | prepend: site.url }}">Articles</a></li> -->
      <!--<li><a class="post-link" href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>>-->
      
      <!--<li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>-->
    </ul>
  </div>
</nav>
